RewriteEngine on

RewriteBase /rewrite/handp/

RewriteRule ^(arrangements|flowers)$ $1.php [NC,L]
RewriteRule ^flowers/([-\w]+)$ flowers.php?flower=$1 [NC,L]
RewriteRule ^care/orchids$ orchids.php [NC,L]
RewriteRule ^details/(\d+)$ details.php?arrangement_id=$1 [NC,L]
RewriteRule ^search/([-\w]+)$ results.php?searchterm=$1 [NC,L]